<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Agrigoal</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/css/global.css" rel="stylesheet" />
    <link href="/static/css/services.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Goblin+One&display=swap"
      rel="stylesheet"
    />
    <script src="/static/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <section id="top">
      <div class="container">
        <div class="row top_1">
          <div class="col-md-5">
            <div class="top_1l">
              <ul class="mb-0">
                <li style="margin-right: 15px" class="d-inline-block">
                  <a href="#"
                    ><i style="margin-right: 5px" class="fa fa-phone col_1"></i>
                    +91 123 4565 789</a
                  >
                </li>
                <li class="d-inline-block">
                  <a href="#"
                    ><i
                      style="margin-right: 5px"
                      class="fa fa-envelope col_1"
                    ></i>
                    info@gmail.com</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="top_1m text-center">
              <h3 class="mb-0" style="line-height: 0.6em">
                <a class="text-black" href="index.html"
                  ><span style="margin-bottom: 10px" class="d-inline-block"
                    ><i class="fa fa-leaf col_1"></i
                  ></span>
                  <br />AGRIGOAL
                  <span class="col_2 font_16 normal">AGRICULTURE FARM</span></a
                >
              </h3>
            </div>
          </div>
       
      </div>
    </section>

    <section id="header">
      <nav
        class="navbar navbar-expand-md navbar-center navbar-light"
        id="navbar_sticky"
      >
        <div class="container">
          <a class="navbar-brand col_1" href="index.html"
            ><span style="margin-bottom: 10px" class="d-inline-block"
              ><i class="fa fa-leaf col_1"></i
            ></span>
            AGRIGOAL <br /><span
              style="margin-left: 40px"
              class="col_2 font_16 normal"
              >AGRICULTURE FARM</span
            ></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-0 justify-content-center">
                <li class="nav-item">
					<a class="nav-link " aria-current="page" href="index.html"
					  >Home</a
					>
				  </li>
	
				  <li class="nav-item">
					<a class="nav-link active" href="/about">about Us</a>
				  </li>
	
				  <li class="nav-item">
					<a class="nav-link" href="/contact">Contact Us</a>
				  </li>
	

              <div
                class="modal fade"
                id="exampleModal2"
                tabindex="-1"
                style="display: none; top: 20px"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body p-0">
                      <div class="search_1">
                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Type Your Search"
                          />
                          <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                              <i class="fa fa-search"></i>
                            </button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </nav>
    </section>

    <section id="center" class="center_o">
      <div class="container">
        <div class="row center_o1 text-center">
          <div class="col-md-12">
            <h1 class="text-white">Project Info</h1>
         
          </div>
        </div>
      </div>
    </section>

    <section id="off">
      <div class="container">
        <div class="row off1">
          <div class="col-md-6">
            <div class="off1l">
              <h2>Abstract</h2>
             
              <p class="mt-3">
                <i style="margin-right: 5px" class="fa fa-check col_1"></i>
                Agriculture plays a crucial role in the Indian economy. Early detection of plant diseases is very much essential to prevent crop loss and further spread of diseases. Most plants such as apple, tomato, cherry, grapes show visible symptoms of the disease on the leaf. These visible patterns can be identified to correctly predict the disease and take early actions to prevent it. This can be overcome by the use of machine learning and deep learning algorithms. Hence, we are proposing a method that which is detecting the disease of a tomato plant from their leaf images. Here the process is performed with the deep learning algorithms Convolutional Neural Network (CNN), and MobileNet which is a one of the transfer learning method of CNN. Once after training the dataset with the algorithms, the accuracy of algorithms is compared and the images are classified. And the precautions are also provided for the classified plant.<br>
<b>Key words:</b> Plant diseases, machine learning, deep learning, CNN, MobileNet.
              </p>
           
            </div>
          </div>
          <div class="col-md-6">
            <div class="off1r">
              <div class="grid clearfix">
                <figure class="effect-jazz mb-0">
                  <a href="#"
                    ><img src="/static/img/leaf1.jpeg" class="w-100" alt="img25"
                  /></a>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="connect">
      <div class="container">
        <div class="connect_1 row">
          <div class="col-md-10">
            <div class="connect_1l clearfix">
              <p class="text-white mb-0">
                The motivation behind the research on "DETECTION OF PLANT DISEASE USING MACHINE LEARNING AND DEEP LEARNING ALGORITHMS" stems from the critical need to safeguard global food security. With the world's population continuously increasing, ensuring healthy crop yields is paramount.             </div>
          </div>
          <div class="col-md-2">
            <div class="connect_1r clearfix">
              <h5 class="mb-0"><a class="button_1" href="#">Motivation</a></h5>
            </div>
          </div>
        </div>
      
          </div>
        </div>
      </div>
    </section>

    <section id="grow">
      <div class="container">
        <div class="row grow_1">
          <div class="col-md-5">
            <div class="grow_1l">
              <div class="grid clearfix">
                <figure class="effect-jazz mb-0">
                  <a href="#"
                    ><img src="/static/img/leaf.jpeg" class="w-100" alt="img25"
                  /></a>
                </figure>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="grow_1r">
              <h2>SCOPE OF THE PROJECT</h2>
          
              <p>
                The project aims to develop a system for the early detection of plant diseases using machine learning and deep learning algorithms. It involves image analysis of plant leaves to identify disease symptoms, providing a cost-effective and efficient way to monitor and manage crop health, ultimately enhancing agricultural productivity and food security.              </p>
           
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

 
   

    <script type="text/javascript">
      window.onscroll = function () {
        myFunction();
      };

      var navbar_sticky = document.getElementById("navbar_sticky");
      var sticky = navbar_sticky.offsetTop;
      var navbar_height = document.querySelector(".navbar").offsetHeight;

      function myFunction() {
        if (window.pageYOffset >= sticky + navbar_height) {
          navbar_sticky.classList.add("sticky");
          document.body.style.paddingTop = navbar_height + "px";
        } else {
          navbar_sticky.classList.remove("sticky");
          document.body.style.paddingTop = "0";
        }
      }
    </script>
  </body>
</html>
